html {
  box-sizing: border-box;
}


body {
  margin: 0;
  /*font-family: 'Muller', 'sans-serif';*/
}


a {
  color: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 20px;
}

.section-offset {
  padding-bottom: 70px;
}

/*header*/

.header {
  padding: 20px 0;
}

.header-top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}


.header-left-top {
  display: flex;
}


.header-logo {
  margin-right: 40px;
}

.header-cabinet {
  display: flex;
  align-items: center;
}

.header-bottom-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-list {
  display: flex;
  align-items: center;
}


.header-button1 {
  margin-right: 40px;
}


.header-list-item:not(:last-child) {
  margin-right: 45px;
}


/*Спецпредложения*/

.offer-wrap {
  display: flex;
  justify-content: space-between;
}


.offer-left {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  min-width: 573px;
  margin-right: 24px;
}


.offer-card:not(:last-child) {
  margin-bottom: 24px;
}


.offer-card {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding: 40px 45px;
}


.offer-h3 {
  margin: 0;
  margin-bottom: 15px;
}

.offer-price {
  margin: 0;
  margin-bottom: 47px;
}


.offer-right {
  justify-content: flex-end;
}


/*О Нас*/

.about-content {
  margin: 0;
  max-width: 70%;
}


/*Услуги*/

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-items {
  width: 572px;
  margin-bottom: 24px;
}


.services-card-img {
  object-fit: cover;
  margin-bottom: 26px;
}

.services-card-content {
  padding: 26px 126px 35px 45px;
}

.services-card-btn {
  margin: 0;
  margin-bottom: 5px;
  align-items: center;
}

.services-text {
  margin: 0;
  margin-bottom: 5px;
}

/* Преимущества*/

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.advantages-item {
  width: 275px;
  margin-bottom: 22px;
}


.advantages-card-img {
  max-width: 100%;
  margin-right: auto;
  margin-bottom: 10px;
}


.advantages-text {
  margin: 0;
  margin: 0 42px 32px 45px;
}


/* Размещение */

.placing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.accomodation-items {
  width: 374px;
  margin-bottom: 24px;
}


.accomodation-card-image {
  max-width: 100%;
  margin-bottom: 32px;
}


.accomodation-card-price-rating {
  display: flex;
  flex-wrap: wrap;
  padding: 0 45px 45px 45px;
}


.accomodation-card-price {
  padding: 0;
  margin-right: 52px;
  margin-bottom: 16px;
}


.placing-location-onspain {
  margin: 0;
  margin-bottom: 16px;
}


.placing-location-russian {
  min-width: 400px;
  margin: 0;
  margin-bottom: 16px;
}


.accomodation-items-last {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
