@media (max-width: 1100px) {


    .header__container {
        padding-left: 39px;
    }


    .hero__title {
        font-size: 50px;
    }


    .hero__content {
        background-size: 43%;
    }


    .advantages__content {
        background-size: 20%
    }


    .advantages-list__descr {
        padding: 0;
        padding-top: 90px;
    }


    .advantages__point-1 {
        background-position: top left;
    }


    .advantages__point-2 {
        background-position: top left;
    }


    .advantages__point-3 {
        background-position: top left;
    }
}


@media (max-width: 960px) {

    .header__container {
        padding-left: 15px;
    }


    .nav__list {
        margin-right: 6px;
    }


    .hero__content {
        padding-left: 15px;
        padding-top: 116px;
    }


    .hero__title {
        margin-bottom: 10px;
    }


    .hero__descr {
        margin-bottom: 62px;
    }


    .hero__button {
        margin-bottom: 134px;
    }


    .hero__content {
        background-position: 96% 45%;
    }


    .advantages__container {
        padding: 80px 16px 75px 14px;
    }


    .advantages__content {
        background-size: 31%
    }


    .advatages__text {
        margin-left: 240px;
    }


    .advantages-list__descr {
        padding-top: 97px;
    }


    .advantages__point-1 {
        background-size: 33%;
        background-position: 8% 7%;
    }


    .advantages__point-2 {
        background-size: 33%;
        background-position: 8% 7%;
    }


    .advantages__point-3 {
        background-size: 33%;
        background-position: 8% 7%;
    }


    .teachers__container {
        padding: 75px 116px 73px 15px;
    }


    .teachers__container {
        padding: 75px 15px 73px 15px;
    }


    .teachers__column-1 {
        background-size: 100% 53%;
        margin-bottom: 23px;
    }


    .teachers__column-2 {
        background-size: 100% 61%;
    }


    .teachers__column-3 {
        background-size: 100% 53%;
    }


    .teachers__column-4 {
        background-size: 100% 53%;
    }


    .courses__container {
        padding: 75px 14px 50px 15px;
    }


    .courses__descr {
        margin-bottom: 25px;
    }


    .courses__pic-1 {
        background-size: 100% 32%;
    }


    .courses__pic-2 {
        background-size: 100% 32%;
    }


    .courses__pic-3 {
        background-size: 100% 32%;
    }


    .courses__pic-4 {
        background-size: 100% 32%;
    }
}


@media (max-width: 768px) {

    .header__logo {
        display: none;
    }


    .advantages__point-1 {
        background-size: 33%;
        background-position: 8% 7%;
    }


    .advantages__point-2 {
        background-size: 33%;
        background-position: 8% 7%;
    }


    .advantages__point-3 {
        background-size: 33%;
        background-position: 8% 7%;
    }

}


@media (max-width: 600px) {


    .header__container {
        padding-left: 36px;
        padding-top: 81px;
    }

    .header__logo {
        display: none;
    }


    .nav__list {
        margin-right: 53px;
    }


    .hero__content {
        background-image: none;
        padding-top: 71px;
    }


    .hero__title {
        line-height: 56px;
    }


    .advantages__container {
        padding: 80px 16px 55px 14px;
    }


    .advantages__content {
        background-size: 29%;
        background-position: left 0%;
    }


    .advatages__text {
        margin-left: 181px;
    }


    .advantages__point-1 {
        background-size: 44%;
        background-position: 14% 7%;
    }


    .advantages__point-2 {
        background-size: 44%;
        background-position: 16% 7%;
    }


    .advantages__point-3 {
        background-size: 44%;
        background-position: 18% 6%;
    }


    .teachers__column-1 {
        background-size: 100% 49%;
    }


    .teachers__column-2 {
        background-size: 100% 56%;
    }


    .teachers__column-3 {
        background-size: 100% 53%;
    }


    .teachers__column-4 {
        background-size: 100% 53%;
    }


    .courses__content {
        padding: 0 8px 0 30px;
        margin-bottom: 25px;
    }


    .courses__pic-1 {
        background-size: 100% 28%;
    }


    .courses__pic-2 {
        background-size: 100% 28%;
    }


    .courses__pic-3 {
        background-size: 100% 28%;
    }


    .courses__pic-4 {
        background-size: 100% 28%;
    }


    .courses__subtitle {
        padding-top: 208px;
    }


    .courses__descr {
        margin-bottom: 28px;
    }

}

@media (max-width: 576px) {

    .advantages__title {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 0;
    }


    .advantages__descr {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.4px;
        margin-bottom: -11px;
    }

    .advantages-list__descr {
        padding-top: 61px;
        padding-left: 152px;
    }

    .advantages__point-1 {
        background-size: 14%;
        background-position: 7% 100%;
    }


    .advantages__point-2 {
        background-size: 14%;
        background-position: 7% 100%;
    }


    .advantages__point-3 {
        background-size: 14%;
        background-position: 7% 100%;
    }

}

@media (max-width: 400px) {

    .header__container {
        padding-left: 16px;
        padding-top: 72px;
        padding-bottom: 24px;
    }


    .hero__content {
        padding-top: 45px;
    }


    .hero__title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: -2px
    }


    .hero__descr {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 42px;
    }


    .hero__button {
        padding: 22px 54px;
        font-size: 16px;
        margin-bottom: 50px;
    }


    .advantages__container {
        padding: 49px 5px 5px 10px;
    }


    .advantages__content {
        background-image: none;
    }


    .advantages__items {
        margin-bottom: 47px;
    }


    .advatages__text {
        margin-left: 5px;
    }


    .advantages__title {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 0;
    }


    .advantages__descr {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.4px;
        margin-bottom: -11px;
    }


    .advantages__point-1 {
        background-size: 24%;
        background-position: 7% 100%;
    }


    .advantages__point-2 {
        background-size: 24%;
        background-position: 7% 100%;
    }


    .advantages__point-3 {
        background-size: 24%;
        background-position: 7% 100%;
    }


    .advantages-list__descr {
        padding: 34px 11px 0px 115px;
    }


    .teachers__container {
        padding: 48px 15px 90px 15px;
    }


    .teachers__title {
        font-size: 20px;
    }


    .teachers__subtitle {
        margin-bottom: 7px;
    }


    .teachers__column-1 {
        background-size: 100% 53%;
        margin-bottom: 28px;
    }


    .teachers__column-2 {
        margin-bottom: 21px;
    }


    .teachers__column-3 {
        margin-bottom: 23px;
    }


    .teachers__column-4 {
        margin-bottom: -42px;
    }


    .courses__container {
        padding: 45px 15px 50px 15px;
    }


    .courses__title {
        font-size: 20px;
        margin-bottom: 27px;
    }


    .courses__content {
        padding: 0 28px 0 30px;
        margin-bottom: 30px;
    }


    .courses__subtitle {
        padding-top: 209px;
        line-height: 134%;
    }


    .courses__descr {
        margin-bottom: 78px;
    }

}